.addService-area {
  form {
    .addService-form-action {
      background-color: #fff;
      box-shadow: 0 0 20px 3px #0000000d;
      padding: 40px;
      margin: auto;
      border: 4px;
    }
  }
}
.btn-upload {
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .addService-area{
    form{
      .addService-form-action{
        padding: 10px;
        .mt-5{
          text-align: center;
        }
      }
    }
  }
}