@import "../variables";
.page-title-area.bg-24 {
  background-image: url(../../Share/image/page-banner24.jpg);
}
.page-title-area.bg-23 {
  background-image: url(../../Share/image/page-banner22.jpg);
}
.page-title-area {
  position: relative;
  overflow: hidden;
  padding-top: 240px;
  padding-bottom: 150px;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &::before {
    opacity: 0.9;
    background-color: $font-color-black-blue;
  }
  &::after {
    background-image: url(../../Share/image/shape2.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.5;
    animation: heartBeat 9s linear infinite;
  }
  @keyframes heartBeat {
    0% {
      transform: scale(2);
    }
    20% {
      transform: scale(1.75);
    }
    // 40% {
    //   transform: scale(1);
    // }
    // 60% {
    //   transform: scale(1.75);
    // }
    // 80% {
    //   transform: scale(0.75);
    // }
    // 100% {
    //   transform: scale(1);
    // }
  }
  .page-title-content {
    h2 {
      margin-bottom: 15px;
      color: #fff;
      font-size: 40px;
      font-weight: 700;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      margin-top: 10px;
      margin-bottom: 0;
      .active {
        color: $font-color-aqlik-blue;
      }
      li {
        display: inline-block;
        position: relative;
        font-size: 15px;
        padding-right: 0.5rem;
        font-weight: 500;
        color: #fff;
        &:last-child {
          padding-right: 0;
        }
        a {
          color: #fff;
        }
        .icon {
          color: $font-color-aqlik-blue;
        }
      }
    }
  }
}
