#main{
    background-color: #F4F7FC;
    padding: 2rem;
    height: 100vh;
}
.page-header{
    margin: 0 0 2rem;
    h3{
        font-weight: 700;
    }
}
#page-content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

