@import "../variables";
.single-product {
  text-align: center;
  margin-bottom: 30px;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-5px);
    .product-img {
      .default-btn {
        bottom: 20px;
      }
    }
  }
  .product-img {
    position: relative;
    overflow: hidden;
    .default-btn {
      position: absolute;
      bottom: -100px;
      // left: 2rem;
      right: 1rem;
      margin: auto;
      max-width: 150px;
    }
  }
  .product-content {
    background-color: #fff;
    box-shadow: 0 0 20px 3px #0000000d;
    padding: 30px;
    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      &:hover {
        a {
          color: $font-color-aqlik-blue;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 10px;
        font-weight: 600;
        font-size: 16px;
        color: $font-color-aqlik-blue;
        del {
          color: $font-color-black-blue;
          font-weight: 500;
        }
      }
    }
    .ratings {
      margin-top: 8px;
      color: #ffb708;
      font-size: 15px;
    }
  }
}

/// skeleton design

.skeleton-product {
  background-color: #fff;
  box-shadow: 0 0 20px 3px #0000000d;
  padding: 30px;
  .skeleton-img {
    text-align: center;
  }
  .skeleton-content {
    margin-top: 10px;
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .product-img {
    img {
      width: 100%;
    }
  }
  .single-product {
    .product-img {
      .default-btn {
        bottom: 20px;
        left: 0;
      }
    }
  }
  .default-btn{
    padding: 15px 15px !important;
    font-size: 15px !important;
  }
}
