.user-area-all-style {
  .contact-form-action {
    background-color: #fff;
    box-shadow: 0 0 20px 3px #0000000d;
    padding: 40px;
    margin: auto;
    border: 4px;
    .form {
      .form-group {
        margin-bottom: 30px;
      }
      .form-condition {
        .agree-label {
          font-weight: 600;
          label {
            font-size: 14px;
          }
        }
      }
      .default-btn {
        &.btn-two {
          display: table;
          margin: 0 auto;
          padding: 15px 40px;
        }
      }
      .col-lg-4 {
        &:first-child {
          .default-btn {
            background-color: #ff5733;
          }
        }
        &:nth-child(2) {
          .default-btn {
            background-color: #3955bc;
            display: table;
            margin: 0 auto 30px;
          }
        }
        &:nth-child(3) {
          .default-btn {
            background-color: #190f3c;
            float: right;
          }
        }
      }
      .default-btn {
        font-size: 14px;
        padding: 15px 40px;
        margin-bottom: 30px;
        font-weight: 700;
      }
    }
    .account-desc {
      margin: 25px auto 0;
      display: table;
      font-weight: 600;
    }
    .forget {
      font-size: 14px;
      float: right;
      font-weight: 600;
      color: #190f3c;
    }
  }
  .sign-up-img {
    background-image: url(../../Share/image/signIn.jpg);
  }
  .sign-up-img1 {
    background-image: url(../../Share/image/login.jpg);
  }
  .sign-up-img,
  .sign-up-img1 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
.form-control {
  height: 50px;
  color: #232350;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #e8e8e8;
  background-color: #f3f9fc;
  font-size: 14px;
  &:focus,
  &:hover:focus {
    box-shadow: unset;
  }
  &:focus {
    color: #000;
    background-color: transparent;
    box-shadow: unset;
    outline: 1px solid #04b8e5;
    border: 1px solid #04b8e5;
  }
}
.form-check {
  float: left;
}

///resetPassword.js ar design

.recover-password-area {
  .contact-form-action {
    max-width: 570px;
    // max-height: 570px;
    .form-heading {
      h3 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 30px;
        font-weight: 600;
      }
    }
    .form {
      .form-group {
        margin-bottom: 30px;
      }
    }
    .register-not {
      font-weight: 600;
      float: right;
      margin-bottom: 30px;
    }
    .now-login {
      font-weight: 600;
      font-size: 14px;
    }
  }
}
